$body-padding: 6rem;
$section-height: 50rem;
$card-padding: 2rem;
$std-y-padding: 8rem;

// Colors
$white: #fff;
$lightgrey: rgb(238, 240, 241);
$grey: #d7d7d7;
$dark-blue: #0a2b3c;
$p-color: #062a3c;

// Breakpoints
$xLarge: 75em;
$large: 60em;
$medium: 46em;
