.hidden,
.visually-hidden,
.hidden-child {
  opacity: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.unstyle-list {
  list-style: none;
}

.flex-wrap,
.flex-split,
.flex-around,
.flex-center,
.flex-end,
.flex-even,
.flex-start,
.flex-start-wrap,
.flex-start-nowrap,
.flex-even-wrap,
.flex-even-nowrap,
.flex-around-wrap,
.flex-center-wrap,
.flex-split-wrap,
.flex-start,
.flex-start-wrap,
.flex-start-nowrap,
.flex-end,
.flex-end-wrap,
.flex-end-nowrap,
.flex-around-nowrap,
.flex-center-nowrap,
.flex-split-nowrap {
  display: flex;
  align-items: center;
  &.pull-start,
  .pull-start {
    align-items: flex-start;
  }
  &.pull-end,
  .pull-end {
    align-items: flex-end;
  }
  &.pull-content-end,
  .pull-content-end {
    align-content: flex-end;
  }
  &.pull-content-start,
  .pull-content-start {
    align-content: flex-start;
  }
  &.flex-column,
  .flex-column {
    flex-direction: column;
  }
  &.flex-row-reverse,
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  &.flex-row,
  .flex-row {
    flex-direction: row;
  }
  &.grow,
  .grow {
    flex-grow: 1;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column,
.flex-column-center {
  &.col-pull-start,
  .col-pull-start {
    align-items: flex-start;
  }
  &.col-pull-end,
  .col-pull-end {
    align-items: flex-end;
  }
  &.stretchAll {
    > * {
      align-self: stretch;
    }
  }
}

.flex-end,
.flex-end-wrap,
.flex-end-nowrap {
  justify-content: flex-end;
}

.flex-start,
.flex-start-wrap,
.flex-start-nowrap {
  justify-content: flex-start;
}

.flex-center,
.flex-center-wrap,
.flex-center-nowrap {
  justify-content: center;
}

.flex-start,
.flex-start-wrap,
.flex-start-nowrap {
  justify-content: flex-start;
}

.flex-end,
.flex-end-wrap,
.flex-end-nowrap {
  justify-content: flex-end;
}

.flex-split,
.flex-split-wrap,
.flex-split-nowrap {
  justify-content: space-between;
}

.flex-around,
.flex-around-wrap,
.flex-around-nowrap {
  justify-content: space-around;
}

.flex-even,
.flex-even-wrap,
.flex-even-nowrap {
  justify-content: space-evenly;
}

.flex-even-wrap,
.flex-around-wrap,
.flex-center-wrap,
.flex-split-wrap,
.flex-start-wrap,
.flex-end-wrap {
  flex-wrap: wrap;
}

.flex-even-nowrap,
.flex-around-nowrap,
.flex-center-nowrap,
.flex-split-nowrap,
.flex-start-nowrap,
.flex-end-nowrap {
  flex-wrap: nowrap;
}

.half-stack {
  > * + * {
    margin-top: 1rem;
  }
  &.with-top {
    > * {
      margin-top: 1rem;
    }
  }
  &.with-bottom {
    > *:last-child {
      margin-bottom: 1rem;
    }
  }
  &.with-bottom-padding {
    > *:last-child {
      padding-bottom: 1rem;
    }
  }
}

.stack-1p75 {
  > * + * {
    margin-top: 1.75rem;
  }
  &.with-top {
    > * {
      margin-top: 1.75rem;
    }
  }
  &.with-bottom {
    > *:last-child {
      margin-bottom: 1.75rem;
    }
  }
  &.with-bottom-padding {
    > *:last-child {
      padding-bottom: 1.75rem;
    }
  }
}

.stack-2p5 {
  > * + * {
    margin-top: 2.5rem;
  }
  &.with-top {
    > * {
      margin-top: 2.5rem;
    }
  }
  &.with-bottom {
    > *:last-child {
      margin-bottom: 2.5rem;
    }
  }
  &.with-bottom-padding {
    > *:last-child {
      padding-bottom: 2.5rem;
    }
  }
}

.stack {
  > * + * {
    margin-top: 2rem;
  }
  &.with-top {
    > * {
      margin-top: 2rem;
    }
  }
  &.with-bottom {
    > *:last-child {
      margin-bottom: 2rem;
    }
  }
  &.with-bottom-padding {
    > *:last-child {
      padding-bottom: 2rem;
    }
  }
}

.double-stack {
  > * + * {
    margin-top: 4rem;
  }
  &.with-top {
    > * {
      margin-top: 4rem;
    }
  }
  &.with-bottom {
    > *:last-child {
      margin-bottom: 4rem;
    }
  }
  &.with-bottom-padding {
    > *:last-child {
      padding-bottom: 4rem;
    }
  }
}

.opacity-hidden {
  opacity: 0;
}

.half-stack-siblings {
  ~ * + * {
    margin-top: 1rem;
  }
  &.with-top {
    ~ * {
      margin-top: 1rem;
    }
  }
  &.with-bottom {
    > *:last-child {
      margin-bottom: 1rem;
    }
  }
  &.with-bottom-padding {
    > *:last-child {
      padding-bottom: 1rem;
    }
  }
}

.stack-siblings {
  ~ * + * {
    margin-top: 2rem;
  }
  &.with-top {
    ~ * {
      margin-top: 2rem;
    }
  }
  &.with-bottom {
    > *:last-child {
      margin-bottom: 2rem;
    }
  }
  &.with-bottom-padding {
    > *:last-child {
      padding-bottom: 2rem;
    }
  }
}

.circle {
  border-radius: 999rem;
}

.pointer {
  cursor: pointer;
}

.max-w-100 {
  max-width: 100%;
}

.grid-large-left,
.grid-large-right,
.grid-even {
  display: grid;
  grid-gap: $body-padding;
  grid-template-columns: 1fr;

  &.align-center {
    align-items: center;
  }
}

.grid-large-right {
  @include breakpoint($large) {
    grid-template-columns: 2fr 3fr;
  }
}

.grid-large-left {
  @include breakpoint($large) {
    grid-template-columns: 3fr 2fr;
  }
}

.grid-even {
  @include breakpoint($large) {
    grid-template-columns: 1fr 1fr;
  }
}
